.success-container {
  text-align: center;
  margin-top: 100px;
}

.success-container h2 {
  color: green;
  font-size: 1.8rem;
}

.home-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.home-btn:hover {
  background-color: #0056b3;
}
